body {
	min-width: 1200px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.main-menu-active {
	border-bottom: 2px solid #fb565a;
}

.btn {
	display: inline-block;
	padding: 16px 54px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
}

.btn:hover,
.btn:focus {
	background-color: #e74246;
}

.btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #d7373b;
	box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

.main-header {
	width: 100%;
	min-height: 545px;
	margin-bottom: 80px;
	background-color: #eeeeee;
}

.main-menu-header {
	font-family: "Roboto Medium", "Arial", sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 10px;
	min-height: 117px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
}

.main-basket:hover,
.main-basket:focus,
.main-basket:focus,
.main-basket:hover {
	color: #fb565a;
}

.main-logo {
	width: 160px;
	height: 65px;
	margin-bottom: 3px;
}

.main-logo:hover,
.main-logo:focus {
	opacity: 0.8;
}

.main-logo:active {
	opacity: 0.3;
}

.list-menu-header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 440px;
	min-height: 35px;
	margin: 0;
	margin-left: -12px;
	margin-bottom: 7px;
	padding: 0;
	list-style: none;
}

.main-basket {
	width: 145px;
	min-height: 35px;
	text-align: right;
	color: #000000;
	margin-bottom: 7px;
}

.main-basket .basket {
	position: relative;
	padding-right: 23px;
	top: 2px;
}

.basket::before {
	content: "";
	position: absolute;
	top: 7px;
	left: 31px;
	width: 15px;
	height: 15px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.list-menu-header a,
.main-basket a {
	display: block;
	color: #000000;
	padding-bottom: 3px;
}

.list-menu-header a:hover,
.list-menu-header a:focus,
.main-basket a:focus,
.main-basket a:hover {
	color: #fb565a;
}

.list-menu-header a:active,
.main-basket a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-slider {
	position: relative;
	min-height: 428px;
}

.main-slider input[type="radio"] {
	display: none;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 50;
	height: 18px;
	font-size: 0;
	text-align: center;
	transform: translateX(-50%);
	width: 195px;
}

.slider-controls label {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
	width: 18px;
	height: 18px;
	padding: 8px;
	vertical-align: top;
}

.slider-controls label::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	width: 18px;
	height: 18px;
	background-color: #ffffff;
	border-radius: 50%;
}

.slider-controls label::before {
	content: "";
	position: absolute;
	top: 48%;
	left: 53%;
	z-index: 2;
	display: none;
	width: 4px;
	height: 4px;
	margin: -4px -5px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-item {
	display: none;
	min-height: 428px;
	background-repeat: no-repeat;
}

.slider-item:nth-child(1) {
	background-image: url("../img/header-slide-1.png");
	background-position: 429px 13px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/header-slide-2.png");
	background-position: 494px 0;
}

.slider-item:nth-child(3) {
	background-image: url("../img/header-slide-3.png");
	background-position: 401px 17px;
}

#slide1:checked~.slider-list .slider-item:nth-child(1) {
	display: block;
}

#slide2:checked~.slider-list .slider-item:nth-child(2) {
	display: block;
}

#slide3:checked~.slider-list .slider-item:nth-child(3) {
	display: block;
}

#slide1:checked~.slider-controls label[for="slide1"]::before,
#slide2:checked~.slider-controls label[for="slide2"]::before,
#slide3:checked~.slider-controls label[for="slide3"]::before {
	display: block;
}

.slider-text h3 {
	max-width: 559px;
	margin: 0;
	padding-top: 72px;
	padding-bottom: 28px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
}

.slider-text p {
	max-width: 425px;
	margin: 0;
	padding-bottom: 40px;
}

.features-list {
	display: flex;
	justify-content: space-between;
	min-height: 347px;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	padding-bottom: 80px;
	list-style: none;
	border-bottom: 2px solid #eeeeee;
	padding-top: 30px;
}

.features-item {
	width: 300px;
	min-height: 347px;
}

.features-item:nth-child(1) {
	background-image: url("../img/illustration-1.jpg");
	background-repeat: no-repeat;
}

.features-item:nth-child(2) {
	background-image: url("../img/illustration-2.jpg");
	background-repeat: no-repeat;
}

.features-item:nth-child(3) {
	margin-right: 60px;
	background-image: url("../img/illustration-3.jpg");
	background-repeat: no-repeat;
}

.features-item h3 {
	margin: 0;
	margin-top: 169px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.features-item p {
	width: 261px;
	margin: 0;
	margin-top: 17px;
	margin-bottom: 32px;
}

.features-item a {
	padding: 17px 39px;
}

.features-item:nth-child(2) a {
	background-color: #00ca74;
}

.features-item:nth-child(2) a:hover,
.features-item:nth-child(2) a:focus {
	background-color: #00bc6c;
}

.features-item:nth-child(2) a:active {
	background-color: #00aa62;
}

.features-item:nth-child(3) a {
	background-color: #efc84a;
}

.features-item:nth-child(3) a:hover,
.features-item:nth-child(3) a:focus {
	background-color: #eab534;
}

.detail {
	display: flex;
	align-items: flex-start;
	min-height: 490px;
	margin-bottom: 25px;
}

.detail-left-column {
	width: 681px;
	margin-right: 101px;
}

.detail .detail-title-left {
	font-family: "Roboto", "Arial", sans-serif;
	margin: 0;
	margin-top: 63px;
	margin-bottom: 34px;
	font-size: 45px;
	font-weight: 500;
	line-height: 45px;
	color: #000000;
}

.detail-list-right {
	text-transform: uppercase;
	font-size: 16px;
	margin: 0;
	margin-top: 38px;
	margin-bottom: 23px;
	font-weight: 700;
	color: #000000;
}

.detail-list {
	margin: 0;
	padding: 0;
}

.detail-list li {
	list-style: none;
	position: relative;
	margin-bottom: 25px;
	margin-left: 36px;
}

.detail-list li::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -35px;
	width: 25px;
	height: 25px;
	border-left: 2px solid #fb565a;
	transform: rotate(90deg);
}

.detail-right-column {
	width: 382px;
	text-align: center;
}

.detail-right-column img {
	width: 360px;
	height: 208px;
	margin-top: 30px;
	margin-left: 21px;
}

.detail-right-column .detail-title-right {
	margin: 0;
	margin-top: 30px;
	margin-left: 25px;
	margin-bottom: 37px;
	padding: 0;
}

.info-stat {
	margin: 0;
	padding: 0;
}

.info-stat li {
	list-style: none;
}

.detail-title-right {
	margin: 39px 0 23px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

.info-stat {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 360px;
}

.detail-info-num {
	width: 87px;
	padding-top: 3px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	color: #000;
	text-align: left;
	padding-left: 5px;
}

.detail-info-title {
	font-size: 16px;
	line-height: 18px;
	padding-left: 20px;
	width: 100px;
	text-align: left;
	margin-top: 20px;
}

.detail-info-num sup {
	font-size: 28px;
}

.brand {
	padding-top: 50px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 2px solid;
	border-top: 2px solid;
	border-color: #eeeeee;
	margin-bottom: 80px;
}

.brand ul {
	list-style-type: none;
	font-size: 0;
	margin: 0;
	padding: 0;
	margin: 0 -19px;
}

.brand li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 25%;
}

.brand li::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	width: 2px;
	height: 52px;
	background-color: #eeeeee;
}

.brand li:last-child::after {
	display: none;
}

.brand a {
	opacity: 0.20;
}

.brand a:hover {
	opacity: 1;
}

.brand a:active {
	opacity: 0.10;
}

.footer-map {
	vertical-align: top;
	position: relative;
	height: 420px;
}

.footer-map .map-container {
	position: relative; 
	z-index: 1; 
	pointer-events: none;
}

.map-img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0;
}

.map-container {
	padding-top: 57px;
}

.footer-contacts {
	z-index: 1;
	width: 320px;
	background-color: white;
	padding-bottom: 48px;
	pointer-events: all; 
}

.footer-contacts h3 {
	margin: 0;
	padding-left: 49px;
	padding-top: 48px;
	padding-bottom: 7px;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
}

.footer-contacts p {
	padding-left: 51px;
	padding-bottom: 2px;
	line-height: 18px;
	color: #666666;
}

.footer-contacts .btn {
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 49px;
	padding-left: 45px;
	padding-right: 45px;
}

.main-footer {
	display: flex;
	min-height: 157px;
	margin-top: 60px;
}

.footer-info {
	width: 561px;
	padding: 0;
}

.footer-info .footer-title {
	margin: 0;
	margin-top: 13px;
	padding: 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
}

.footer-info p {
	padding: 0;
	padding-top: 11px;
	margin: 0;
	color: #444444;
}

.footer-social {
	width: 270px;
	padding: 0;
	margin: 0;
	margin-right: 129px;
	padding-top: 8px;
	order: -1;
}

.footer-social .social-btn {
	display: inline-block;
	width: 78px;
	height: 78px;
	margin-right: 10px;
	vertical-align: middle;
	border-radius: 50%;
	background-color: #e1e1e1;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.footer-social .social-btn-vk {
	background-image: url("../img/vk-icon.svg");
}

.footer-social .social-btn-fb {
	background-image: url("../img/fb-icon.svg");
}

.footer-social .social-btn-in {
	margin-right: 0;
	background-image: url("../img/insta-icon.svg");
}

.footer-social .social-btn:hover,
.footer-social .social-btn:focus {
	background-color: #e74246;
}

.footer-social .social-btn:active {
	background-color: #d7373b;
	box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	white-space: nowrap;
	overflow: hidden;
	display: none;
}

.catalog {
	display: flex;
}

.catalog-left-column {
	width: 260px;
	margin-right: 141px;
}

.filter section {
	margin-top: 5px;
}

.range-filter {
	margin-bottom: 54px;
}

.filter-radio {
	margin: 0;
	margin-bottom: 45px;
}

.filter .catalog-filter-title {
	margin: 0;
	margin-bottom: 16px;
	padding: 0;
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: 0.8px;
	color: #000000;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

.range-filter {
	margin-top: 50px;
}

.range-controls {
	background-color: #eeeeee;
	border-radius: 5px;
	position: relative;
	height: 41px;
	margin-bottom: 13px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
}

.range-controls .scale {
	height: 2px;
	background-color: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background-color: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	border-radius: 50%;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.price-controls label {
	display: inline-block;
	text-transform: uppercase;
	vertical-align: top;
	width: 50%;
	font-size: 16px;
}

.price-controls input {
	font-family: "Roboto", "Arial", sans-serif;
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	font-size: 16px;
	line-height: 22px;
	color: #283136;
	text-align: center;
	background-color: #eeeeee;
	border: none;
	border-radius: 5px;
}

.price-controls .max-price {
	text-align: right;
}

.filter ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.filter-item {
	margin-bottom: 19px;
	padding-left: 36px;
}

.filter-item:last-child {
	margin-bottom: 0;
}

.filter-features {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
}

.filter-features .features-title {
	letter-spacing: 0.1px;
}

.filter-features .filter-item {
	margin-bottom: 20px;
}

.filter-item label {
	position: relative;
	display: block;
	cursor: pointer;
	user-select: none;
}

.filter-inp+label {
	line-height: 20px;
}

.filter-inp:hover+label,
.filter-inp:focus+label {
	color: #000000;
}

.filter-inp:disabled+label {
	color: rgba(40, 49, 54, 0.3);
}

.filter-inp-radio+label::before {
	content: "";
	position: absolute;
	top: -4px;
	left: -35px;
	width: 17px;
	height: 17px;
	border: 4px solid #b8b8b8;
	border-radius: 50%;
}

.filter-inp-radio:checked+label::after {
	content: "";
	position: absolute;
	top: 4px;
	left: -27px;
	width: 9px;
	height: 9px;
	background-color: #b8b8b8;
	border-radius: 50%;
}

.filter-inp-checkbox+label::before {
	content: "";
	position: absolute;
	left: -36px;
	width: 27px;
	height: 23px;
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-inp-checkbox:checked+label::after {
	content: "";
	position: absolute;
	left: -36px;
	width: 27px;
	height: 23px;
	background: url("../img/checkbox-on.svg") no-repeat;
	background-position: 0 0;
	opacity: 0.4;
}

.filter-inp-radio:hover+label::after,
.filter-inp-radio:focus+label::after {
	background-color: #4d4d4d;
}

.filter-inp-radio:hover+label::before,
.filter-inp-radio:focus+label::before {
	border-color: #4d4d4d;
}

.filter-inp-radio:disabled+label::after {
	background-color: #ededed;
}

.filter-inp-radio:disabled+label::before {
	border-color: #ededed;
}

.filter-inp-checkbox:hover+label::after,
.filter-inp-checkbox:focus+label::after,
.filter-inp-checkbox:hover+label::before,
.filter-inp-checkbox:focus+label::before {
	opacity: 1;
}

.filter-inp-checkbox:disabled+label::after,
.filter-inp-checkbox:disabled+label::before {
	opacity: 0.1;
}

.filter .btn-catalog {
	padding: 16px 88px;
	color: #000000;
	background-color: #eeeeee;
}

.filter .btn-catalog:hover,
.filter .btn-catalog:focus {
	background-color: #dfdfdf;
}

.filter .btn-catalog:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
}

.catalog-block {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	list-style: none;
}

.catalog-item {
	position: relative;
	width: 360px;
	min-height: 576px;
	margin-bottom: 32px;
	margin-right: 40px;
	margin-top: 35px;
}

.catalog-item:nth-child(2n) {
	margin-right: 0;
}

/*.catalog-item img {
	display: block;
	width: 358px;
	height: 574px;
	border: 1px solid #e5e5e5;
}*/

.catalog-item::before {
	display: inline-block;
	content: url("../img/browser.svg");
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	vertical-align: top;
	opacity: 0.12;
}

.catalog-item:hover::before {
	opacity: 1;
}

.catalog-block-item {
	position: absolute;
	bottom: 0;
	display: none;
	width: 230px;
	min-height: 192px;
	padding: 20px 65px;
	text-align: center;
	background-color: #eeeeee;
}

.catalog-item:hover .catalog-block-item {
	display: block;
}

.catalog-item:hover {
	box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog-block-item h3 {
	margin: 0;
	margin-top: 6px;
}

.catalog-block-item .catalog-item-link {
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
	color: #000000;
	text-transform: uppercase;
}

.catalog-block-item p {
	margin-top: 15px;
	margin-bottom: 31px;
	line-height: 18px;
	color: #666666;
}

.catalog-block-item .catalog-item-btn {
	padding-left: 60px;
	padding-right: 60px;
}

.catalog-block-item .catalog-item-btn:active {
	color: #ffffff;
}

.catalog-pages {
	display: flex;
	flex-wrap: wrap;
	width: 444px;
	margin: 0;
	margin-bottom: 59px;
	padding: 0;
	list-style: none;
}

.pages-item {
	margin-right: 11px;
}

.pages-item:last-child {
	flex-grow: 1;
	margin-right: 0;
}

.pages-item a {
	font-family: "Roboto", "Arial", sans-serif;
	display: block;
	box-sizing: border-box;
	min-width: 50px;
	height: 50px;
	padding: 16px 17px;
	line-height: 18px;
	font-weight: 500;
	color: #000000;
	text-align: center;
	vertical-align: top;
	text-transform: uppercase;
	background-color: #eeeeee;
	border-radius: 5px;
}

.pages-item a:hover,
.pages-item a:focus {
	background-color: #dfdfdf;
}

.pages-item a:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

.catalog-pages-active a {
	padding-top: 13px;
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.catalog-pages-active a:hover,
.catalog-pages-active a:focus,
.catalog-pages-active a:active {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.catalog-title {
	font-family: "Roboto", "Arial", sans-serif;
	padding: 73px 0 0;
	margin: 0 0 0 -3px;
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	text-align: center;
}

.main-header {
	min-height: 355px;
	margin-bottom: 50px;
}

.catalog-sorting-title {
	margin-top: 7px;
	margin-right: 209px;
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

.catalog-sorting-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.catalog-right-column {
	width: 782px;
}

.catalog-sorting {
	display: flex;
	width: 760px;
	min-height: 38px;
	margin-bottom: 50px;
}

.catalog-sorting-list {
	display: flex;
	flex-wrap: wrap;
	width: 280px;
	margin: 0;
	margin-top: 5px;
	margin-left: 58px;
	padding: 0;
	list-style: none;
}

.catalog-sorting-list li {
	margin-right: 25px;
}

.catalog-sorting-list li:last-child {
	margin-right: 0;
}

.catalog-sorting-list a {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
	text-transform: uppercase;
}

.catalog-arrows {
	width: 60px;
	height: 16px;
	margin-left: 22px;
	text-align: right;
}

.catalog-arrows a {
	display: inline-block;
	margin-top: 8px;
	width: 11px;
	height: 10px;
	vertical-align: middle;
	background-repeat: no-repeat;
	opacity: 0.08;
}

.catalog-arrows a:hover,
.catalog-arrows a:focus {
	opacity: 0.4;
}

.catalog-arrows a:active {
	opacity: 1;
}

.catalog-arrows-down {
	background-image: url("../img/icon-down-dir.svg");
}

.catalog-arrows-up {
	margin-left: 13px;
	background-image: url("../img/icon-up-dir.svg");
}

.sort-active:hover {
	color: #a6a6a6;
}

.sort-active:active {
	color: #000000;
}

a.sort-active.button-active {
	color: #000000;
}

.catalog-arrows .arrows-active {
	opacity: 1;
}

.feedback-block {
	display: block;
}

.feedback {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 55;
	width: 761px;
	height: 445px;
	margin-top: -295px;
	margin-left: -480px;
	padding: 65px 100px 80px 99px;
	background-color: #ffffff;
	box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.feedback h2 {
	font-family: "Roboto", "Arial", sans-serif;
	margin: 0;
	padding: 0;
	margin-bottom: 26px;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.feedback-title-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.feedback-title-block .feedback-cloumn {
	width: 360px;
	margin: 0;
	margin-top: 14px;
	margin-bottom: 17px;
}

.feedback-title-block .feedback-block {
	width: 760px;
	margin-bottom: 47px;
}

.feedback-title-block label {
	line-height: 18px;
	font-weight: bold;
	color: #000000;
}

.feedback-title-block input,
.feedback-title-block textarea {
	box-sizing: border-box;
	width: 360px;
	margin-top: 6px;
	padding: 14px 13px;
	font: inherit;
	line-height: 18px;
	color: rgba(68, 68, 68, 0.5);
	background-color: transparent;
	border: 2px solid #d7dcde;
}

.feedback-title-block textarea {
	width: 760px;
	min-height: 118px;
	padding-top: 11px;
	resize: none;
}

.feedback-title-block input:hover,
.feedback-title-block textarea:hover {
	border-color: #b4b9bb;
}

.feedback-title-block input:focus,
.feedback-title-block textarea:focus {
	color: #444444;
	border-color: #000000;
	outline: none;
}

.feedback-title-block input:invalid:focus:not(:placeholder-shown) {
	color: #e74246;
	border-color: #e74246;
}

.feedback-title-block .feedback-btn {
	padding: 16px 84px;
}

.feedback .close {
	position: absolute;
	top: 76px;
	right: 91px;
	width: 23px;
	height: 23px;
	font-size: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
}

.feedback .close::before,
.feedback .close::after {
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width: 24px;
	height: 4px;
	background-color: #fecccd;
}

.feedback .close::before {
	transform: rotate(45deg);
}

.feedback .close::after {
	transform: rotate(-45deg);
}

.feedback .close:hover::before,
.feedback .close:focus::before,
.feedback .close:hover::after,
.feedback .close:focus::after {
	background-color: #fb565a;
}

.feedback .close:active::before,
.feedback .close:active::after {
	background-color: #ffeeee;
}

.modal-show {
	display: block;
}